<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-fw fa-user"></i>
    </div>
    <div class="sidebar-brand-text mx-3">My CRM </div>
  </a>


  <hr class="sidebar-divider my-0">


  <div class="sidebar-heading">
    Side bar
  </div>


  <li class="nav-item active">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLink="/dashboard/edit">
      <i class="fas fa-fw fa-user-plus"></i>
      <span>Create customer</span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLink="/dashboard/contacts">
      <i class="fas fa-fw fa-user"></i>
      <span>Contacts</span></a>
  </li>


  <hr class="sidebar-divider">



  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>